/*-------------------- Page ------------------*/

body {
    background-image: url('images/green_cup.png');
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
.conteneur {
    width: 100%;
    max-width: 960px;
    margin: 0px;
    padding: 10px;
}

/*-------------------- Header ------------------*/

header {
    box-shadow: 5px 5px 2px grey;
    margin: 0;

    background-image: url('images/symphony.png');
    background-repeat: repeat;
    background-attachment: fixed;

    color: grey;
    font-family: Helvetica, sans-serif;
}
img {
    margin: 20px;
}
.titre {
    display: inline-block;
    vertical-align: top;
}


/*--------------------- Main -------------------*/


.texte {
    display: inline-block;
    width: 30%;
    min-width: 275px;
    vertical-align: top;
    padding: 10px;
    
    text-align: right;
}
main .conteneur {
    text-align: center;
}

/*-------------------- Footer ------------------*/

footer {
    margin: 0;
    height: 470px;
    box-shadow: 5px -5px 2px grey;
    
    background-image: url('images/symphony.png');
    background-repeat: repeat;
    background-attachment: fixed;
}
iframe {
    float: left;
    width: 50%;
    margin-right: 30px;
}
footer p {
    color: grey;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}